Import

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

Clean data

In [88]:
sample = pd.read_csv("Data_example.csv")
sample.X = sample.X.fillna(0)
new_X = []
for i in sample.X:
    if type(i) != int and str(i).isnumeric() == True:
        i = int(i)
        new_X.append(i)
    else:
        i = 0
        new_X.append(i)
sample.X = new_X
sample.Y = sample.Y.fillna(0)
new_Y = []
for i in sample.Y:
    if type(i) != float and str(i).isnumeric() == True:
        i = float(i)
        new_Y.append(i)
    else:
        i = float(0)
        new_Y.append(i)
sample.Y = new_Y
sample.Z = sample.Z.str.encode('ascii','ignore').str.decode('ascii')
sample

       X       Y     Z
0     19  1927.0   cat
1      0  2300.0   dog
2     15     0.0  bird
3     16  5959.0   cat
4     16     0.0   cat
5      0  4594.0   dog
6     19  1927.0   cat
7     20  2879.0  bird
8     21     0.0   NaN
9      0  4096.0   cat
10     0  6730.0   cat
11    25     0.0  bird
12     0  2792.0   dog
13    33  2575.0   dog
14  1000  4959.0  bird
15    19  1927.0   cat
16    36  4580.0   dog
17    40  5869.0   NaN
18     0  4178.0   dog
19    45     0.0   cat

Convert data type

In [36]:
new_X = []
new_Y = []
for i in sample.X:
    if type(i) != 'int':
        print(i)
        print(type(int(i)))
    else:
        print(i)
        print(type(i))

19
<class 'int'>
0
<class 'int'>
15
<class 'int'>
16
<class 'int'>
16
<class 'int'>
0
<class 'int'>
19
<class 'int'>
20
<class 'int'>
21
<class 'int'>
0
<class 'int'>
A

ValueError: invalid literal for int() with base 10: 'A'